.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {

  .home-content,
  .about-content,
  .contact-content {
    margin-top: 60px !important;
  }

  .header-root {
    flex-direction: column !important;
    align-items: flex-start !important;
    height: auto !important;
    min-height: 0 !important;
    max-height: none !important;
    padding: 12px !important;
    gap: 8px;
  }

  .header-title {
    font-size: 16px !important;
  }

  .header-select {
    width: 100% !important;
    font-size: 15px !important;
    margin: 8px 0 0 100px;
  }
}

.header-root {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  height: 72px;
  min-height: 72px;
  max-height: 72px;
  transition: all 0.3s;
}

.header-select {
  padding: 10px 24px;
  border: 2px solid #bbb;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  outline: none;
  cursor: pointer;
  transition: border 0.3s, box-shadow 0.3s, background 0.3s, color 0.3s;
  height: 44px;
}

.product-card {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 400px;
}

.add-to-cart-button {
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.3s;
  font-size: 16px;
}

.theme-transition {
  min-height: calc(-96px + 100dvh);
  padding: 16px;
  margin-top: 0px;
  transition: background 0.4s, color 0.4s;
}